* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font Propo";
	font-weight: normal;
	font-size: 16px;
	min-height: 16px;
}

window#waybar {
	background: transparent;
	color: #cdd6f4;
}

tooltip {
	background: #1e1e2e;
	color: #cdd6f4;
}

#battery,
#backlight,
#bluetooth,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio.microphone,
#language,
#clock,
#tray,
#window,
#workspaces {
	background: #1a1b26;
	padding: 0px 12px;
	border: #1e1e2e 2px solid;
	border-radius: 8px;
	margin: 5px;
	margin-bottom: 0;
	min-width: 20px;
}

#workspaces {
	padding: 0;
}
#workspaces button {
	padding: 0 10px;
	border-radius: 5px;
}

#workspaces button.active,
#workspaces button:hover {
	color: orange;
	background-color: #1e1e2e;
}
