@import "./colors.css";
@define-color color8 @background;

@define-color backgroundlight @color8;
@define-color backgrounddark @on_surface;
@define-color workspacesbackground1 @color8;
@define-color workspacesbackground2 @on_surface;
@define-color bordercolor @color8;
@define-color textcolor1 @color8;
@define-color textcolor2 @on_surface;
@define-color textcolor3 @on_surface;
@define-color iconcolor @color8;

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
	font-family: "JetBrainsMono Nerd Font";
	border: none;
	border-radius: 0px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom: 0px solid #ffffff;
	/* color: #FFFFFF; */
	background: transparent;
	transition-property: background-color;
	transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
	background: @workspacesbackground1;
	margin: 2px 18px 3px 1px;
	padding: 0px 2px;
	border-radius: 5px 5px 5px 5px;
	font-weight: bold;
	font-style: normal;
	opacity: 1;
	color: @textcolor1;
}

#workspaces button {
	padding: 0px 6px;
	margin: 3px 2px;
	border-radius: 3px 3px 3px 3px;
	color: @textcolor1;
	background-color: @workspacesbackground2;
	transition: all 0.1s linear;
	opacity: 0.4;
}

#workspaces button.active {
	color: @textcolor1;
	background: @workspacesbackground2;
	border-radius: 3px 3px 3px 3px;
	min-width: 30px;
	transition: all 0.1s linear;
	opacity: 1;
}

#workspaces button:hover {
	color: @textcolor1;
	background: @workspacesbackground2;
	border-radius: 5px 5px 5px 5px;
	opacity: 0.7;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
	border-radius: 10px;
	background-color: @backgroundlight;
	opacity: 0.9;
	padding: 5px;
	margin: 0px;
}

tooltip label {
	color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
	margin: 3px 15px 3px 0px;
	padding: 2px 10px 0px 10px;
	border-radius: 5px 5px 5px 5px;
	color: white;
	font-size: 16px;
	font-weight: normal;
	opacity: 1;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

window#waybar.empty #window {
	background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
	background: @backgroundlight;
	margin: 3px 15px 3px 0px;
	padding: 0px;
	border-radius: 5px 5px 5px 5px;
	font-weight: normal;
	font-style: normal;
	opacity: 1;
	border: 3px solid @backgroundlight;
}

#taskbar button {
	margin: 0;
	border-radius: 5px 5px 5px 5px;
	padding: 0px 5px 0px 5px;
}

#taskbar.empty {
	background: transparent;
	border: 0;
	padding: 0;
	margin: 0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

#power-profiles-daemon {
	margin: 0px 13px 0px 0px;
	padding: 0px;
	font-size: 16px;
	color: @iconcolor;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
	background-color: @backgroundlight;
	font-size: 16px;
	color: @textcolor2;
	border-radius: 3px 5px 3px 5px;
	padding: 1px 10px 0px 10px;
	margin: 3px 0px 3px 0px;
	opacity: 1;
	border: 3px solid @bordercolor;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
	background-color: @backgroundlight;
	font-size: 16px;
	color: @textcolor2;
	border-radius: 5px 5px 5px 5px;
	padding: 2px 10px 0px 10px;
	margin: 3px 15px 3px 0px;
	opacity: 1;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
	background-color: @backgroundlight;
	font-size: 16px;
	color: @textcolor2;
	border-radius: 5px 5px 5px 5px;
	padding: 2px 10px 0px 10px;
	margin: 3px 15px 3px 0px;
	opacity: 1;
}

#pulseaudio.muted {
	background-color: @backgrounddark;
	color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
	background-color: @backgroundlight;
	font-size: 16px;
	color: @textcolor2;
	border-radius: 5px 5px 5px 5px;
	padding: 2px 10px 0px 10px;
	margin: 3px 15px 3px 0px;
	opacity: 1;
}

#network.ethernet {
	background-color: @backgroundlight;
	color: @textcolor2;
}

#network.wifi {
	background-color: @backgroundlight;
	color: @textcolor2;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
	background-color: @backgroundlight;
	font-size: 16px;
	color: @textcolor2;
	border-radius: 5px 5px 5px 5px;
	padding: 2px 10px 0px 10px;
	margin: 3px 15px 3px 0px;
	opacity: 1;
}

#bluetooth.off {
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#language {
	background-color: @backgroundlight;
	font-size: 16px;
	color: @textcolor2;
	border-radius: 5px 5px 5px 5px;
	padding: 2px 15px 0px 10px;
	margin: 3px 15px 3px 0px;
	opacity: 1;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
	background-color: @backgroundlight;
	font-size: 16px;
	color: @textcolor2;
	border-radius: 5px 5px 5px 5px;
	padding: 2px 15px 0px 10px;
	margin: 3px 15px 3px 0px;
	opacity: 1;
}

#battery.charging,
#battery.plugged {
	color: @textcolor2;
	background-color: @backgroundlight;
}

@keyframes blink {
	to {
		background-color: @backgroundlight;
		color: @textcolor2;
	}
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: @textcolor3;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
	padding: 0px 15px 0px 0px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}
