@import "mocha.css";

* {
	font-family: JetBrainsMono Nerd Font;
	font-weight: 400;
	min-height: 14px;
	font-size: 12px;
	border: none;
	border-radius: 6px;
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	background-color: transparent;
}

#cpu {
	color: @beige;
	padding: 0px 8px 0px 15px;
	background: @raisin-black;
	margin-left: 2px;
	border-radius: 6px 0 0 6px;
}

#memory {
	color: @beige;
	padding: 0px 15px 0px 8px;
	background: @raisin-black;
	margin-right: 1px;
	border-radius: 0 6px 6px 0;
}

#temperature.gpu {
	padding: 0px 12px;
	margin-right: 2px;
	color: @celadon;
	background: @raisin-black;
	border-radius: 6px;
}

/* General Styling */
tooltip,
menu,
#workspaces,
#clock,
#pulseaudio,
#backlight,
#bluetooth,
#network,
#battery,
#custom-power {
	background: @raisin-black;
	padding: 7px 8px;
	margin: 0;
	border-radius: 6px;
}

#workspaces {
	background: @raisin-black;
	margin: 0;
	margin-left: 3px;
	padding: 0;
	font-weight: bold;
	font-style: normal;
	opacity: 1;
	font-size: 16px;
	color: #1e1;
	border-radius: 6px;
}

#workspaces button {
	min-width: 20px;
	padding: 0px 5px;
	margin: 3px;
	border-radius: 6px;
	border: none;
	color: #f5e0dc;
	transition: all 0.3s ease-in-out;
	opacity: 0.4;
}

#workspaces button.active {
	color: #1e1e2e;
	background: #cba6f7;
	opacity: 1;
}

#workspaces button:hover {
	color: #c3dee5;
	background: #1e1e2e;
	opacity: 1;
	animation: none;
}

#clock {
	padding: 0 15px;
	color: @beige;
	border-radius: 6px;
}

#pulseaudio,
#backlight {
	padding: 0 8px;
	margin: 0 1px;
	color: @beige;
	border-radius: 6px 6px;
}

#bluetooth,
#network {
	color: #cba6f7;
	border-radius: 6px;
	margin: 0 1px;
}

#network.speed {
	background: @raisin-black;
	padding: 0px 6px;
	min-width: 10px;
	color: @beige;
	border-radius: 6px;
}

#bluetooth {
	min-width: 20px;
	padding: 0 10px;
	margin: 0 2px;
	border-radius: 6px;
}

#network {
	min-width: 30px;
	padding: 0 7px 0 2px;
	border-radius: 6px;
}

#battery {
	color: @mint;
	min-width: 30px;
	padding-left: 5px;
	margin-left: 1px;
	margin-right: 3px;
	padding-right: 5px;
	border-radius: 6px;
}

#battery.charging {
	color: #33ae18; /* Text */
	background: @raisin-black;
	border-radius: 6px;
}

#battery.good:not(.charging) {
	color: #f8d589;
	background: @raisin-black;
	border-radius: 6px;
}

#battery.warning:not(.charging) {
	color: #e0a858; /* Text */
	background: @raisin-black;
	border-radius: 6px;
}

#battery.low:not(.charging) {
	color: #d20f39; /* Text */
	background: @raisin-black;
	border-radius: 6px;
}

#battery.critical:not(.charging) {
	color: #d20f39; /* Text */
	background: @raisin-black;
	animation-name: blink;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	border-radius: 6px;
}

@keyframes blink {
	to {
		color: #d20f39; /* Red */
		background: #eff1f5; /* Text */
	}
}
